<div class="container">
	<div class="cadastroInstituicao">
		<div class="title">
			<h3>Cadastro de Intituição de Ensino</h3>
		</div>
		<form>
			<div class="group">
				<label>Nome</label>
				<input type="text" name="nome">
			</div>

			<div class="group">
				<label>Endereço</label>
				<input type="text" name="endereco">
			</div>

			<div class="group">
				<label>Telefone</label>
				<input type="text" name="telefone">
			</div>

			<div class="group">
				<label>Nome para contato</label>
				<input type="text" name="nomeContato">
			</div>

			<div class="group">
				<label>Email</label>
				<input type="text" name="email">
			</div>

			<div class="materias">
				<h4 class="title">Matérias</h4>
				<i>X</i>
				<span>Matemática</span>
				<input type="checkbox" name="classesSelecionadas" value="5"><span>5º Ano</span>
				<input type="checkbox" name="classesSelecionadas" value="6"><span>6º Ano</span>
				<input type="checkbox" name="classesSelecionadas" value="7"><span>7º Ano</span>
				<input type="checkbox" name="classesSelecionadas" value="8"><span>8º Ano</span>
				<input type="checkbox" name="classesSelecionadas" value="9"><span>9º Ano</span>

				<select>
					<option>ESCOLHA A MATÉRIA</option>
					<option>Inglês</option>
					<option>Biologia</option>
				</select>
			</div>

			<button class="salvar">Salvar</button>
		</form>
	</div>
</div>
<div class="clr"></div>