<div class="container">
	<div class="loginBox">
		<div class="loginHeader">
			Login
		</div>
		<div class="loginBody">
			<div class="group">
				<label>Email</label>
				<input type="text" name="email">
			</div>
			<div class="clr"></div>
			<div class="group">
				<label>Senha</label>
				<input type="password" name="senha">
			</div>
			<div class="clr"></div>
			<div class="btn">
				<button class="salvar">Entrar</button>
				<a href="#/home">Esqueci a senha</a>
			</div>
		</div>
	</div>
</div>