<div class="container">
	<div class="sobre">
		<h1>Sobre o projeto</h1>
	
		<p>
		Este projeto tem como objetivo recrutar universitários para serem voluntários em escolas de ensino fundamental onde há um déficit de aprendizado por parte dos alunos. Nossa prioridade é que os voluntários possam suprir parte do conteúdo que os alunos não compreenderam e/ou não presenciaram na aula, assim, melhorando a qualidade de nossa educação.
		</p>

		<p>
			Para participar como escola basta se cadastrar na plataforma com dados básicos de contato e informar as matérias e séries que necessitam do auxilio de reforço extra curricular. O sistema irá cruzar as informações com os voluntários cadastrados e apresentar uma lista dos quais forem compatíveis com as necessidades da escola.
		</p>

		<p>
			O voluntário que tem interesse em participar do projeto deve se inscrever na plataforma com dados pessoais, de contato e formação acadêmica. Após o cadastro no sistema o mesmo deve aguardar o contato de uma escola.
		</p>
	</div>
</div>